<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GrapesJS Builder</title>
    <link rel="stylesheet" href="https://unpkg.com/grapesjs/dist/css/grapes.min.css">
    {% block css %}{% endblock %}
</head>
<body>
    <script src="https://unpkg.com/grapesjs/dist/grapes.min.js"></script>
    <script src="https://unpkg.com/grapesjs-preset-webpage@1.0.2"></script>
    {% block content %}{% endblock %}
</body>
</html>
